/* ctrl+f 로 transition 에서 필터링 버튼 별 속도 설정 가능  */


html {font-family: 'Cardo', serif;
font-family: 'Do Hyeon', sans-serif;
font-family: 'Jua', sans-serif;
font-family: 'Noto Sans KR', sans-serif;
font-family: 'Roboto', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.right{
    display: flex;
    align-items: center;
    justify-content: right;
}
.left{
    display: flex;
    align-items: center;
    justify-content: left;
}
#search{
    width: 78%;
    height: 20%;
    padding: 0 11% 0 11%;
    border-bottom: 1px solid lightgray ; 
    /* background: #000; */
}

.title{
    width: 100%;
    height: 15%;
    
    display: flex;
}

/* 네비바 */

/* .navbar__logo{
    font-size: 10px;
    margin-left: 30px;
}

.navbar__list{
    display: flex;
    margin-right: 60px;
    white-space: nowrap;
}

.navbar__list li{
    margin-right: 90px;
}

.navbar__log{
    display: flex;
    margin-right: 60px;
    white-space: nowrap;
}

.navbar__log li{
    margin-right: 50px;
}

.navbar__toggleBtn {
    right: 10px;
    font-size: 20px;
    display: none;
} */


/* 글자 박스 */
#paragraph-container{
    width: 35%;
    height: 20%;
}
.caption{
    width: 100%;
    text-align: left;
}
.title-section {
    font-size: 1.7em;
}
.paragraph{
    font-size: 1.2em;
    color: #999999;
    
}



/* 검색 박스 */
#search-container{
    width: 53%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.search-box{
    width: 100%;
    height: 50%;
}


.search-box-input{
    display: none;
    width: 100%;
    height: 50%;
    
}

.search-section{
    width: 88%;
    height: 80%;
    border: 1px solid gray;
    border-radius: 100px;
}

.etc{
    display: none;
    width: 88%;
    height: 80%;
    border: 1px solid gray;
    border-radius: 100px;
}

.search-toggle{
    width: 80%;
    height: 90%;
    border: none;
    border-radius: 100px;
    /* padding-right: 1vw; */
    text-align: center;
}

.search-toggle:focus{
    outline: none;

}

.search-input{
    width: 79.5%;
    height: 100%;
    border: none;
    border-radius: 100px;
    /* padding-right: 1vw; */
    text-align: center;
}

.search-input:focus{
    outline: none;
}

.search-btn{
    width: 10%;
    border: none;
    height: auto;
    display: flex;
    margin-left: 1%;
    background-color: #ffffff;
    border-radius: 100px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}
.search-img{
    width: 30px;
}


/*  게시물 등록버튼 칸 */
#register-container{
    width: 12%;
}
.register-btn{
    background-color:cornflowerblue;
    /* margin-top: 2.5vh;
    margin-left: 72.5%; */
    height: 5vh;
    width: 80%;
    font-size: 1.25em;
    font-weight: 600;
    color: #ffffff;
    border: none;
    border-radius: 100px;
    cursor: pointer;
}



/* 필터링 네비바 */
.btn{
    background-color: #ffffff;
    border: none;
    border: 3px solid lightgray;
    font-weight: 600;
    transition: 0.4s linear;
}

.filter{
    width: 100%;
    height: 10vh;
    background-color: aqua;
    /* overflow: hidden;
    transition: 0.6s linear; */
}
.showstep1{
    max-height: 10vh;
    overflow: hidden;
    transition: 0.6s linear;
}
.showstep2{
    max-height: 20vh;
    overflow: hidden;
    transition: 0.6s linear;
}
.content{
    max-height: 30vh;
    /* background-color: aqua; */
}
.main-filter{
    width: 100%;
    height: 10vh;
    /* background-color: beige; */
}



/* 활동장소 */
.area{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 35%;
    height: 100%;
    /* background-color: firebrick; */
    
}
.area-paragraph{
    font-size: 1.5em;
    width: 21%;
    height: 30%;
    font-weight: 800;
    /* background-color: blue; */
}
/* 시도군구면읍 콘테이너 */

.area-choose-button{
    width: 69%;
    height: 40%;
    text-align: center;
    /* background-color: #ffffff; */
}

.sido-area-container{
    width: 33%;
    /* background-color: darkgray; */
    position: relative;
}
.gungu-area-container{
    width: 34%;
    /* background-color: fuchsia; */
    position: relative;
}
.myeonup-area-container{
    width: 33%;
    /* background-color: bisque; */
    position: relative;
}


/* 활동장소 체크박스 */
.place-check{
    width: 100%;
    height: 75%;
    opacity: 0;
    position: absolute;
    left: 0%;
    top: 2%;
    cursor: pointer;
}

input[class="place-check"]{
    transform : scale(0.7);
}

/* 활동장소 버튼 */
.area-button{
    padding-top:2% ;
    width: 75%;
    font-size: 1.3em;
    color: #999999;
    /* cursor: pointer; */
    border-radius: 40px;
    margin: 0 1% 0 1%;
}


/* 활동요일 */
.date{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 35%;
    height: 100%;
    /* background-color: yellow; */
}
.date-paragraph{
    font-size: 1.5em;
    width: 20%;
    height: 30%;
    font-weight: 800;
}
.date-choose-button{
    width: 80%;
    height: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
    /* background-color: blueviolet; */
}
.date-button-container{
    width: 14.28%;
    height: 100%;
    margin: 0 1% 0 1%;
    /* background-color: brown; */
    position: relative;
}


/* 요일 check input */
.date-check{
    width: 80%;
    height: 75%;
    opacity: 0;
    position: absolute;
    left: 4%;
    top: 7.5%;
    cursor: pointer;
}


/* 요일 date button */
.date-button{
    width: 80%;
    height: 100%;
    border-radius: 100px;
    border: 3px solid lightgray;
    background-color: #ffffff;
    margin: 0 0 0 10%;
    color: #999999;
    cursor: pointer;
    transition: 0.4s linear;
    font-weight: 900;
}


/* .mon-button{
    width: 10%;
    height: 100%;
    border-radius: 100px;
    margin: 0 1.5% 0 1.5%;
    cursor: pointer;
    color: #999999;
}

.monbtn{
    position:absolute;
    width: 10%;
    height: 100%;
    left: 5%;
    border-radius: 100px;
    margin: 0 1.5% 0 1.5%;
    cursor: pointer;
    color: #999999;
}
.mon-button{
    background-color: #999999;
} */



.more-filter{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 25%;
    height: 100%;
    /* background-color: violet; */
}
.more{
    width: 60%;
    height: 40%;
    font-size: 1.2em;
    color: #999999;
    font-weight: 900;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 10%;
    /* background-color: antiquewhite; */
}
.more-button{
    margin-left: 5%;
    cursor: pointer;
    
}
.more-button2{
    margin-left: 5%;
    cursor: pointer;
    animation-name: arrow;
}
.hide{
    display: none;
}


.newest-button{
    /* -webkit-appearance: none; */
    appearance: none;
    text-align-last: center;
    width: 25%;
    height: 35%;
    border-radius: 10px;
    font-size: 1em;
    color: #999999;
    font-weight: 400;
    border: 2px solid #999999;
    cursor: pointer;
}
.newest-button-option{
    text-align: center;
    height: 10%;
}




/* 엑스트라  필터 */
.extra-filter{
    width: 100%;
    height: 10vh;
    background-color: coral;  
    display: flex; 
}
#gender{
    width: 33%;
    height: 10vh;
    display: flex;
    background-color: bisque;
}
.extra-filter-description{
    width: 30%;
    
}
.gender-choose-button{
    width: 70%;
    height: 10vh;
    background-color: violet;
    display: flex;
    justify-content: left;
    align-items: center;

}
.gender-w-container{
    width: 33%;
    height: 5vh;
    position: relative;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2%;
    margin-left: 1%;
   
}
.gender-m-container{
    width: 34%;
    height: 5vh;
    position: relative;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-right: 5%; */
    
}

.gender-button{
    transition: 0.4s linear;
    font-weight: 900;
    padding-top:2% ;
    width: 80%;
    border: 3px solid lightgrey;
    font-size: 1.3em;
    color: #999999;
    /* cursor: pointer; */
    border-radius: 40px;
    margin: 0 1% 0 1%;
}
.gender-check{
    width: 95%;
    height: 90%;
    opacity: 0;
    position: absolute;
    left: 0%;
    top: 0%;
    cursor: pointer;
    z-index: 99;
}



/* 게시글 검색 시 보여질 post */

#posts{
    display: flex;
    flex-wrap: wrap;
    margin: 0 11% 0 11%;
    width: 78%;
    height: 75vh;
    margin-top: 15vh;
    /* background-color: darkgreen; */
}

.posts-container{
    width: 100%;
    height: auto;
    /* background-color: antiquewhite; */
    background-color: aqua;
}
.posts{
    width: 25%;
    height: 25vh;
    /* margin: 0 auto; */
    /* background-color: yellow; */
    margin-left: 4%;
    margin-right: 4%;
    border-radius: 50px;
    margin-bottom: 5vh;
    cursor: pointer;
    transition: 0.4s;
    outline: 3px solid lightgray;
}
.posts:hover{
    background-color: aliceblue;
    transition: 0.4s;
}
/* .content-display{
    width: 100%;
    height: 5vh;
    background-color: pink;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 10%;
} */
.top{
    width: 89%;
    height: 5vh;
    /* background-color: plum; */
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 10%;
    border-radius: 60px 80px 0 0;
}
.sports{
    width: 50%;
    height: 5vh;
    /* background-color: plum; */
    display: flex;
    justify-content: left;
    align-items: center;
    /* padding-left: 10%; */
}
.sports-img{
    width: 20%;
    height: 5vh;
    /* background-color: yellowgreen; */
    
}

.sports-name{
    padding-left: 5%;
}
#status{
    width: 50%;
    height: 5vh;
    /* background-color: peachpuff; */
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 5%;
    border-radius: 0 50px 0 0;
}
.status{
    width: 70%;
    height: 5vh;
    border-radius: 0 45px 40px 45px;
    /* background-color: darkmagenta; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15%;
}
.member{
    width: 90%;
    height: 5vh;
    /* background-color: olive; */
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 10%;
}
.member-img{
    width: 10%;
    height: 5vh;
    /* background-color: rebeccapurple; */
}
.member-name{
    padding-left: 3%;
}
.place{
    width: 90%;
    height: 5vh;
    /* background-color: gold; */
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 10%;
}
.place-img{
    width: 10%;
    height: 5vh;
    /* background-color: darkblue; */
}
.place-name{
    padding-left: 3%;
}
.skilled{
    width: 90%;
    height: 5vh;
    /* background-color: gray; */
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 10%;
}
.skilled-img{
    width: 10%;
    height: 5vh;
    /* background-color: orange; */
}
.skilled-img>img{
    width: 100%;
    height: 3vh;
}
.skilled-name{
    padding-left: 3%;
    margin-right: 3%;
}
.skilled-icon{

}
.baseline{
    width: 90%;
    height: 5vh;
    /* background-color: plum; */
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 10%;
    border-radius: 0 0 50px 50px;
}
.target{
    width: 60%;
    height: 5vh;
    /* background-color: plum; */
    display: flex;
    justify-content: left;
    align-items: center;
    /* padding-left: 10%; */
}
.target-img{
    width: 20%;
    height: 5vh;
    /* background-color: yellowgreen; */
}
.target-comment{
    padding-left: 5%;
}
.likes{
    width: 40%;
    height: 5vh;
    /* background-color: peachpuff; */
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 20%;
    border-radius: 0 0 50px;
}
.likes-img{
    margin-right: 5%;
}
.likes-count{
    
}

/* 팝업 */

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1000;
    
    /* 숨기기 */
    z-index: -1;
    opacity: 0;
  }
  .background-2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1000;
    
    /* 숨기기 */
    z-index: -1;
    opacity: 0;
  }
  .background-register {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1000;
    
    /* 숨기기 */
    z-index: -1;
    opacity: 0;
  }
  
  .show {
    opacity: 1;
    z-index: 1000;
    transition: all .5s;
  }
  
  .window {
    position: relative;
    width: 100%;
    height: 100%;
    /* background-color: blue; */
  }
  
  .popup {
    box-sizing: border-box;
    position: absolute;
    width: 30%;
    height: 85%;
    padding: 0 3% 0 3%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 5);
    border-radius: 50px;
    outline: 3px solid lightgray;
    
    
    /* 초기에 약간 아래에 배치 */
    transform: translate(-50%, -40%);
  }
  
  .show .popup {
    transform: translate(-50%, -50%);
    transition: all .5s;
  }
.want-container{
    width: 100%;
    height: 30%;
    /* background-color: violet; */
    border-bottom: 5px dashed lightgray;
    margin-bottom: 5%;
    
}
.postInfo-container{
    width: 100%;
    height: 55%;
    /* background-color: violet; */
    /* border-bottom: 5px dashed lightgray; */
    margin-bottom: 5%;
}
.close-button{
    width: 100%;
    height: 5%;
}
#close{
    
    height: 100%;
    background-color: inherit;
    border: none;
    color: #999999;
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
}

#close-2{
    
    height: 100%;
    background-color: inherit;
    border: none;
    color: #999999;
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
}


  .popup-section{
    width: 100%;
    height: 10%;
    margin-bottom: 4%;
    /* background-color: beige; */
}
.info-section{
    width: 100%;
    height: 5.5%;
    margin-bottom: 4%;
    /* background-color: beige; */
}
.last{
    width: 100%;
    height: 10%;
    /* background-color: beige; */
    margin-bottom: 3%;
    /* background-color: red; */
}
  .postInfoImg{
    width: 7%;
    height: 100%;
    /* background-color: tomato; */
    margin-right: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .postInfoImg>img{
    width: 90%;
    height: 100%;
  }
  .dataInfo{
    
    font-size: 16px;
    font-weight:900;
    margin-right: 4%;
    background-color: aqua;
  }
  
  .postComment{
    font-size: 16px;
    font-weight: 700;
  }
  .post-comment{
    width: 100%;
    height: 35%;
    /* background-color: aliceblue; */
  }
  .balloon {
    position: relative;
    background: #ffffff;
    outline: 3px solid lightgray;
    height: 80%;
    width: 80%;
    margin: 0 auto 10px;
    border-radius: 10px;
}

.apply{
    width: 100%;
    height: 20%;
    /* background-color: #999999; */
    
}
.apply>button{
    background-color:cornflowerblue;
    /* margin-top: 2.5vh;
    margin-left: 72.5%; */
    height: 5vh;
    width: 30%;
    font-size: 1.25em;
    font-weight: 600;
    color: #ffffff;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    transition: 0.4s linear;

}
.applyComplete{
    background-color: #999999;
}
.balloon2{
    width: 100%;
    height: 60%;
    border-radius: 50px;
    border: none;
    outline: 3px solid lightgray;
    text-align: center;
    box-sizing: border-box;
    padding: 0 10% 0 10%;
  
}

/* 페이지네이션 */
/* .buttons{
  position: relative;
  padding: 1rem 0;
  display: inline-flex;
  justify-content: center;
}
.button {
    padding: 0 1rem;
    font-size: 1.2rem;
    color: #333;
    background: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
  }

  .button.active,
  .button:hover {
    color: #1f975d;
    font-weight: 600;
    text-decoration: underline;
  }
  
  .prev {
    position: absolute;
    left: -2.5rem;
  }
  
  .next {
    position: absolute;
    right: -2.5rem;
  }
  
  ion-icon {
    padding-top: 0.05rem;
  } */
